<% flow        ||= 'login' %>
<% css_class   ||= 'btn btn-primary' %>
<% providers   ||= Authentication.providers %>
<div class="auth__providers">
  <% providers.each do |provider| %>
    <div class="auth__providers__provider">
      <%= link_to provider_auth_path(provider, flow: flow), data: {flow: flow, provider: provider}, class: css_class do %>
        <i class="sico-<%= provider %> sico-fixed"></i>
        <%= Authentication.provider_name(provider) %>
      <% end %>
    </div>
  <% end %>
</div>
